@model Hackathon.Models.TransferViewModel

<style>
    /*.thumbnail {
        padding: 0px;
    }*/

    .panel {
        position: initial;
    }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }
</style>

<ul id="breadcrumbs" class="breadcrumb_container">
    <li class="breadcrumb_e breadcrumb_before">&nbsp;</li>
    <li class="breadcrumb_e breadcrumb_item"><span class="breadcrumb_e breadcrumb_icon_home"> </span>&nbsp @Html.ActionLink(" Home", "Index", "Home")</li>

    <li class="breadcrumb_e breadcrumb_divider">&nbsp;</li>
    <li class="breadcrumb_e breadcrumb_item">Transfer Amount</li>


    <li class="breadcrumb_e breadcrumb_end">&nbsp;</li>
</ul>

<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
   
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SubAccountID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor( model =>model.SubAccountID,
           new SelectList(Model.SubAccounts.ToList(),"ID","Name"))
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.AccountID, htmlAttributes: new { @class = "control-label col-md-2" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Trasnfer" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





